<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <script type="text/javascript" th:src="/js/actions.js"></script>
    <link th:href="/css/styles.css" rel="stylesheet" />
</head>
<body class="container">
<h1 th:text="${title}"> Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>
<ul>
    <li th:each="hardware: ${hardwares}" th:text="${hardware.name}"></li>
</ul>

<p th:unless="${hardwares.size()}"><i>No hardwares yet</i></p>
<p><a th:href="'/software/add-item/' + ${softwareId}"> Add Hardware</a></p>

<div id="row">
    <div id="column">
            <textarea class="form-control" rows="32"
                      style="margin-top: 10px; width:80%;" placeholder="Sonstige Bemerkungen"
                      name="notes" th:text="${plantuml}">
            </textarea>
        <button type="button" th:onclick="demo()">Aktualisieren</button>
    </div>
    <div class="column">
        <img src="/images/IMPAX.png" id="puml">
    </div>

</div>

<p id ="demo"></p>

<script th:inline="javascript">

function demo(){
location.reload();
}
</script>



</body>


</html>