<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head"></head>
<body class ="container">
<h1 th:text="${title}"> Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>
<form method = "post" th:object = "${form}" action="/hardware/add-item">
    <div class = "form-group">
        <label th:for="softwareId">Software</label>
        <label>
            <select name ="softwareId">
                <option th:each="software : *{softwares}"
                        th:text="${software.name}"
                        th:value ="${software.id}"></option>
            </select>
        </label>
    </div>

    <!--Hidden Software Id the hardware should be added to -->
    <input type="hidden" name="hardwareId" th:value="*{hardware.id}"/>
    <input type="submit" value="Add Item"/>
</form>
</body>
