<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head"></head>
<body class ="container">
<h1 th:text="${title}"> Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>
<form method = "post" th:object = "${form}" action="/field/add-item">
    <div class = "form-group">
        <label th:for="segmentId">Segment</label>
        <label>
            <select name ="segmentId">
                <option th:each="segment : *{segments}"
                        th:text="${segment.name}"
                        th:value ="${segment.id}"></option>
            </select>
        </label>
    </div>

    <!--Hidden Segment Id the hardware should be added to -->
    <input type="hidden" name="fieldId" th:value="*{field.id}"/>
    <input type="submit" value="Add Item"/>
</form>
</body>
