<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head"></head>
<body class ="container">
<h1 th:text="${title}"> Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>
<form method = "post" th:object = "${form}" action="/comtype/add-item">
    <div class = "form-group">
        <label th:for="communicationId">Communication</label>
        <label>
            <select name ="communicationId">
                <option th:each="communication : *{communications}"
                        th:text="${communication.name}"
                        th:value ="${communication.id}"></option>
            </select>
        </label>
    </div>

    <!--Hidden Software Id the hardware should be added to -->
    <input type="hidden" name="comtypeId" th:value="*{comtype.id}"/>
    <input type="submit" value="Add Item"/>
</form>
</body>
